.title-sucursal{
   
  height: 44px;

  align-items: center;

  color: #303030;

}
.title-sucursales-btn{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.2px;
}




#top_menu > li a[aria-expanded="true"] {
  background-color: #ff9001 !important;
  color: white;
}

#top_menu > li .dropdown-menu {

 
  box-shadow: 0px 8px 15px 2px #cacaca;
}

.td-name_sucursal{
  
  font-size: 20px;
  line-height: 1.5;
  color: #212529;
  text-align: center;

}